
{% load static %}


<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'css/coeval.css'%}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/coeval.js'%}"></script>
        <title>Sistema de Coevaluaciones DCC</title>
    </head>
    <body>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="#">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <form class="nav-link form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                    </form>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->

        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

            <h3 class="d-inline-block page-title">Ficha de Curso</h3>
            <h5 class="mb-3">
                <div class="cargos cargos-profesor"></div>
                {{ curso.datos.codigo }}-{{ curso.seccion }} {{ curso.datos.nombre }} {{ curso.ano }}, {{ curso.semestre }} {# Ojo, quizas seria mejor hacer una conversion entre el nro y el nombre del semestre #}
            </h5>
            <hr/>
            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-10 offset-1 mb-5">
            		<h4 class="d-inline-block mt-1">Coevaluaciones del curso</h4>
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar coevaluación</button>

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha" sort>Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                {% for coev in coevaluaciones %}
                                    {% if coev.estado == "Pendiente" %}
                                    <tr class="tr-pendiente">
                                        <td class="td-fecha">
                                            {{ coev.fecha_inicio |date:"H:i d/m/Y" }}
                                        </td>
                                        <td>
                                            {{ coev.nombre }}
                                        </td>
                                        <td class="td-fecha">
                                            {{ coev.fecha_inicio |date:"H:i d/m/Y" }}
                                        </td>
                                        <td>
                                            {{ coev.estado }}
                                        </td>
                                        <td class="td-icon">
                                            <a href="#" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="{% static 'icon/answer-icon.png'%}" alt="Responder coevaluación" width="28" height="28"></a>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                        <td class="td-fecha">
                                            {{ coev.fecha_inicio |date:"H:i d/m/Y" }}
                                        </td>
                                        <td>
                                            {{ coev.nombre }}
                                        </td>
                                        <td class="td-fecha">
                                            {{ coev.fecha_inicio |date:"H:i d/m/Y" }}
                                        </td>
                                        <td>
                                            {{ coev.estado }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            	<!-- FIN Tabla de coevaluaciones -->
            </div>
            <!-- FIN Tablas de resumen -->

            <!-- Gestión del curso -->
			<h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
			<div class="d-inline-block ml-2">
            	<a href="#" class="small" title="Cargar información desde archivo">Cargar archivo...</a>
            </div>
			<hr/>
            <div class="row col-sm-12">
                <form class="nav-link form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                </form>
                <button type="button" id="add-coev-btn" class="btn btn-primary-custom my-1">Agregar Alumno</button>
            </div>
            <div class="row col-sm-12">
                <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-left my-1">Agregar Equipo</button>
            </div>

            <div class="col-md-6">
            {% for grup in grupos %}
                <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval-curso table-striped table-hover mb-0 "> <!-- Tabla -->
                    <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-fecha">{{ grup.nombre }}</th>
                            {% for coev in coevaluaciones %}
                                <th>{{ coev.nombre }}</th>
                            {% endfor %}
                            <th class="th-iconos"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alum in alumnos %}
                        {% if alum.grupo == grup and alum.pertenece == 1 %}
                            <tr>
                                <td>
                                    {{ alum.alumno.user.first_name }} {{ alum.alumno.user.last_name }}
                                </td>
                                {% for coev in coevaluaciones %}
                                    {% for a_coev in alum_coev %}
                                        {% if coev == a_coev.coevaluacion and alum.alumno == a_coev.alumno %}
                                            <td>
                                                {{ a_coev.nota }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endfor %}
            </div>
        </div>
    </body>
    </html>
        